<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>云转码-云上的转码系统</title>
    <meta property="og:title" content="WebTorrent - Streaming browser torrent client">
    <meta name="description"
          content="WebTorrent, the streaming torrent client for the browser, Mac, Windows, and Linux">
    <meta property="og:description"
          content="WebTorrent, the streaming torrent client for the browser, Mac, Windows, and Linux">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://webtorrent.io/WebTorrent.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="https://webtorrent.io/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../packs/public/css/index2.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Asap:400,700">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Code+Pro:400,700">
    <script src="<?=Web_Path?>packs/public/js/common.js"></script>
</head>
<body>
<div class="headerWrap">
     <header class="header"><h1><a href="/">云转码</a></h1>
        <nav><a href="../template/use.html">开始使用</a><a href="../template/specification.html">文档</a>
        <a href="../template/problem.html">常见问题</a>
        <a class="new-release" href="../template/download.html">下载</a>
        <a href="../template/document.html" target="_blank">使用文档</a>
        <a class="btn" href="https://github.com/webtorrent/webtorrent" target="_blank">GitHub</a></nav>
    </header>
</div>
<main>
    <div id="hero">
        <div id="progressBar"></div>
        <h1>转码系统 <em>web</em></h1>
        <div class="clearfix" id="status">
            <div id="statusLeft"><span class="show-leech">Downloading </span><span
                    class="show-seed">Seeding </span><code><a id="torrentLink"
                                                              href="https://webtorrent.io/torrents/sintel.torrent">sintel.torrent</a></code><span
                    class="show-leech"> from </span><span class="show-seed"> to </span><code id="numPeers">0
                peers</code>.
            </div>
            <div id="statusRight"><code id="downloaded"></code> of <code id="total"></code> — <span
                    id="remaining"></span></div>
        </div>
        <div id="svgWrap">
            <div class="torrent-graph"></div>
        </div>
        <div id="videoWrap">
            <div class="video">
                <div class="videoOverlay"></div>
            </div>
        </div>
    </div>
    <div class="feature-block sponsors">
        <!--<article><h3>可以下载至本机使用</h3>-->
        <!--    <div class="flex-center">-->
                <!--<a class="sponsor" href="https://brave.com" rel="nofollow" target="_blank"><img-->
                <!--    src="https://webtorrent.io/img/supporters/brave.png" alt="Brave Software">-->
                <!--    </a>-->
                <!--<a class="sponsor" href="https://www.enya.ai/?utm_source=webtorrent.io&amp;utm_medium=web"-->
                <!--   rel="nofollow" target="_blank"><img src="https://webtorrent.io/img/supporters/enya.png" alt="Enya"></a>-->
        <!--        <a class="sponsor" href="../template/download.html" rel="nofollow" target="_blank"><img-->
        <!--            src="https://webtorrent.io/img/supporters/brave.png" alt="Brave Software">-->
        <!--            </a>-->
        <!--        <a class="sponsor" href="../template/download.html"-->
        <!--           rel="nofollow" target="_blank"><img src="https://webtorrent.io/img/supporters/enya.png" alt="Enya"></a>-->
        <!--    </div>-->
        <!--</article>-->
    </div>
    <div class="feature-block">
        <article><h1 class="minimal">播放器<em>效果</em></h1><a href="/desktop" title="WebTorrent Desktop"><img
                src="https://webtorrent.io/img/screenshot-player.png"></a>
            <h2>适用于Windows和Linux 的转码系统客户端 </h2>
            <div class="featuredCenter"><a class="btn large" href="http://111.231.121.36/packs/public/download/文档加代码.zip">获取压缩包和文档</a></div>

            <p>云转码系统可以在我们的官网上使用也可以下载至自己的服务器使用
                <!--                <a href="https://archive.org">Internet Archive</a>, music from <a-->
                <!--                        href="https://creativecommons.org/music-communities/">Creative Commons</a>, or audiobooks from-->
                <!--                <a href="https://librivox.org/">Librivox</a>, you can play it right away. You don't have to wait for it-->
                <!--                to finish downloading.-->
            </p>
            <p>本系统是开源，免费和非商业化的</p></article>
    </div>
    <div class="feature-block">
        <article><h1>什么是云转码系统？</h1>
            <p><strong>云转码</strong>使用最流行的ffmpeg，按照h264视频编码及aac音频编码最大限度的进行视频压缩转码，多种分辨率选择，自动视频截图，自动视频切片，ts文件可以在后台开启加密。
            </p>

            <h2>为什么使用云转码？</h2>

            <p>
                功能上满足所有转码切片入门用户的需求，转码加切片，自动截图，自动生成预览图，播放器自动加载预览图（鼠标拖动可预览），TS加密，秒切功能，多个分辨率任意选择，随机token防盗链，切片文件多服务器分发，多服务器同步，负载均衡，播放器VTT外挂字幕支持，webtorrent在线播放磁力链接，前端cms系统，支持图片、文章、视频发布，会员系统，积分系统等。</p>

            <h2>本系统支持哪些功能？</h2>
            <p>你可以查看本软件文档 </p>
        </article>
    </div>
    <div class="feature-block">
        <article><h1 class="minimal">了解更多关于云转码的信息</h1>
            <div class="featuredCenter">
                <a class="btn large" href="../template/use.html">Get Started</a>
                <a class="btn large"  href="../template/specification.html">Docs</a>
                <a class="btn large" href="../template/problem.html">FAQ</a></div>
        </article>
    </div>
</main>
<div class="footerWrap">
    <footer class="clearfix">
        <section><h3>Learn</h3>
        <a href="../template/use.html">Get Started</a>
        <a href="../template/specification.html">Docs</a>
        <a href="../template/problem.html">FAQ</a></section>
        <section><h3>Connect</h3>
        <a href="https://twitter.com/WebTorrentApp">Twitter</a>
        <a  href="https://github.com/webtorrent/webtorrent">GitHub</a>
            <iframe class="gh-button"
                    src="https://ghbtns.com/github-btn.html?user=webtorrent&amp;repo=webtorrent&amp;type=star&amp;count=true&amp;size=large"
                    frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
        </section>
        <section><h3>Support</h3>
        <!--<a href="https://github.com/webtorrent/webtorrent/issues">Open an issue</a>
        <a href="https://gitter.im/webtorrent/webtorrent">Chat in Gitter</a>-->
         <a href="../template/problem.html">Open an issue</a>
        <a href="../template/problem.html">Chat in Gitter</a>
            <div>#webtorrent on IRC (freenode)</div>
        </section>
        <section class="sponsors">
            <h3>Open Source Sponsors</h3>
            <!--<a href="https://brave.com" rel="nofollow" target="_blank">Brave</a>-->
              <a href="../template/problem.html" rel="nofollow" target="_blank">Brave</a>
            </section>
    </footer>
</div>
<script src="https://webtorrent.io/bundle.js"></script>
<script>window.ga = window.ga || function () {
    (ga.q = ga.q || []).push(arguments)
}
ga.l = +new Date
ga('create', 'UA-3898076-19', 'auto')
ga('send', 'pageview')</script>
<script async src="//www.google-analytics.com/analytics.js"></script>
</body>
</html>