<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>云转码—开始使用</title>
    <meta charset="utf-8">
    <meta property="og:title" content="WebTorrent - Streaming browser torrent client">
    <meta name="description"
          content="WebTorrent, the streaming torrent client for the browser, Mac, Windows, and Linux">
    <meta property="og:description"
          content="WebTorrent, the streaming torrent client for the browser, Mac, Windows, and Linux">
    <meta property="og:type" content="website">
    <meta property="og:image" content="https://webtorrent.io/WebTorrent.png">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="https://webtorrent.io/manifest.json">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#b91d47">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <link rel="stylesheet" href="../packs/public/css/index2.css">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Asap:400,700">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Sans+Pro:400,700,400italic,700italic">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Source+Code+Pro:400,700">
    <link rel="stylesheet" href="../packs/public/css/use.css">
</head>
<body>
<div class="body">
     <header class="header"><h1><a href="/">云转码</a></h1>
        <nav><a href="../template/use.html">开始使用</a><a href="../template/specification.html">文档</a>
        <a href="../template/problem.html">常见问题</a>
        <a class="new-release" href="../template/download.html">下载</a>
        <a href="../template/document.html" target="_blank">使用文档</a>
        <a class="btn" href="https://github.com/webtorrent/webtorrent" target="_blank">GitHub</a></nav>
    </header>

    <div class="center_top">
        <h3>测试信息</h3>
    </div>
    <div class="center">
        <table>
            <tr class="center_tr">
                <td>账号：</td>
                <td>admin</td>
            </tr>
            <tr class="center_tr">
                <td>密码：</td>
                <td>admin</td>
            </tr>
            <tr class="center_tr">
             <td>
                 <a href="../admin.php"><button class="btn">体验一下</button></a></td>
            </tr>
        </table>
    </div>


    <div class="footerWrap">
        <footer class="clearfix">
        <section><h3>Learn</h3>
        <a href="../template/use.html">Get Started</a>
        <a href="../template/specification.html">Docs</a>
        <a href="../template/problem.html">FAQ</a></section>
        <section><h3>Connect</h3>
        <a href="https://twitter.com/WebTorrentApp">Twitter</a>
        <a  href="https://github.com/webtorrent/webtorrent">GitHub</a>
            <iframe class="gh-button"
                    src="https://ghbtns.com/github-btn.html?user=webtorrent&amp;repo=webtorrent&amp;type=star&amp;count=true&amp;size=large"
                    frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
        </section>
        <section><h3>Support</h3>
        <!--<a href="https://github.com/webtorrent/webtorrent/issues">Open an issue</a>
        <a href="https://gitter.im/webtorrent/webtorrent">Chat in Gitter</a>-->
         <a href="../template/problem.html">Open an issue</a>
        <a href="../template/problem.html">Chat in Gitter</a>
            <div>#webtorrent on IRC (freenode)</div>
        </section>
        <section class="sponsors">
            <h3>Open Source Sponsors</h3>
            <!--<a href="https://brave.com" rel="nofollow" target="_blank">Brave</a>-->
              <a href="../template/problem.html" rel="nofollow" target="_blank">Brave</a>
            </section>
    </footer>
    </div>
    <script src="https://webtorrent.io/bundle.js"></script>
    <script>window.ga = window.ga || function () {
        (ga.q = ga.q || []).push(arguments)
    }
    ga.l = +new Date
    ga('create', 'UA-3898076-19', 'auto')
    ga('send', 'pageview')</script>
    <script async src="//www.google-analytics.com/analytics.js"></script>
</div>
</body>
</html>