.header1{
    text-align: center;
}
.cente{
    width: 900px;
    height: 100%;
    margin-left: 400px;
}
.image3{
    width: 890px;
}
.image4{
    width: 890px;
    height: 400px;
}
.image9{
      width: 890px;
      height: 400px;
  }
.image10{
    width: 890px;
}
.image12{
    width: 890px;
}
.image14{
    width: 890px;
}